/*Variables globales*/
:root { 
    --font-primero: 'Bebas Neue', cursive;
    --white: #e3dfd7;
    --white-amarillo: #f5deb3;
    --amarillo-cafe:#f5c37d;
    --beige-claro: #9E927E;
    --cafe-palido: #9c8c6f;
    --marron-beige:#7A664B;
    --marron-amarillo: #8E7E62;
    --marron-cafe-claro: #595049;
    --marron-cafe: #483A24;
    --marron-chocolate: #372819;
    --font-family-cursive: 'Dancing Script', cursive;
    --font-family-elegante: 'Young Serif', serif;
}
html, body {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}
body::-webkit-scrollbar{
    display: none;
}
.inactive {
    display: none;
}
/*Estilos al contenedor principal*/
.principal {
    height: 700px;
    width: 100%;
    background-image: url("https://i.pinimg.com/564x/ec/91/81/ec91819d3e2ab1ab3ac55f98101330a8.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;/*codigo para que la imagen ocupe toda la pantalla del dispositivo*/
    background-attachment: fixed; /*Esto me asegura que mientras la pagina sea responsiva, la imagen se adapte a cualquier tipo de pantalla sin configurarme un scroll*/
}
/*Estilos al navbar (encabezado)*/
.principal  nav {
    display: flex;
    align-items: flex-end;
    padding-right: 90px;
    padding-top: 23px;
    justify-content: flex-end;
    flex-direction: column;
}

.principal  nav h6{
    color: var(--marron-beige);
    border: 1px solid;
    font-weight: 700;
    border-radius: 5px;
    padding: 6px 12px;
    font-size: 22px;
    cursor: pointer;
    background-color: #f5deb300;
}

.principal nav aside {
    position: absolute;
    bottom: 0;
    z-index: 2;
    height: 100%;
    right: 0;
    width: 100%;
    background-color: #37281969;
}
.principal aside .opciones-container {
    background-color: var(--marron-beige);
    width: 25%;
    padding: 10px 35px;
    height: auto;
    position: fixed;
    right: 0;
    margin: 68px 90px 0;
    z-index: 3;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.principal nav aside .opciones-container .closed-opciones {
    color: var(--white);
    background-color: var(--marron-chocolate);
    border-radius: 5px;
    margin: 5px 20px;
    font-weight: bolder;
    padding: 5px 8px; 
    cursor: pointer;
    right: 10px;
    position: fixed;
    font-size: xx-large;
}
.principal aside .opciones-container a {
    color: var(--white);
    margin: 5px 0;
    font-size: 22px;
    cursor: default;
}

.principal aside .opciones-container a h3 {
    font-weight: 400;
    font-family: var(--font-family-elegante);
    margin: 5px 0;
    text-shadow: 0 8px 5px var(--marron-chocolate);
    cursor: pointer;
}

.principal aside .opciones-container a ul {
    margin: 0 0 0 60px;
    list-style: circle;
}

.principal .introduction {
    width: 40%; 
    margin: 5% 52%;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

/*Estilos al titulo*/
.principal .introduction .contenedor-titulo {
    padding-top: 30px;
    overflow: hidden; /* Para ocultar el texto completo */
    border-right:transparent; /* Efecto del cursor de la mÃ¡quina de escribir */
    white-space: nowrap; /* Evitar el salto de lÃ­nea */
    letter-spacing: 1px; /* Espaciado entre letras */
    animation: monoescrito 4s steps(18) infinite;
}
@keyframes monoescrito {
    from {
        width: 0;
    }
    to {
        width: 100%; /* Ancho total del texto (40 letras) */
    }
}

.principal .introduction .contenedor-titulo h1 {
    font-family: var(--font-family-elegante);
    color: var(--beige-claro);
    font-weight: 550;
    font-size: 55px;
    text-align: center;
}
.principal .introduction .contenedor-titulo h1 span {
    font-family: var(--font-family-cursive);
    font-size: 60px;
    font-weight: 400;
    position: relative;
    bottom: 20px;
}
/*Estilos del parrafo*/
.principal .introduction .contenedor-texto {
    width: 80%;
}
.principal .introduction .contenedor-texto p {
    color: var(--beige-claro);
    text-align: center;
    font-size: 19px;
}


/*Estilos al segundo cotenedor del html*/
.secundary {
    background-color: var(--beige-claro);
    height: 550px;
    width: 100%;
}
.secundary .cards-flouters{
    display: flex;
    gap: 3%; /*separacion entre los contenedores flexibles*/
    justify-content: center;
    position: relative;
    bottom: 70px;
}

/*ajuste en los primeros contenedores flotantes*/
.secundary .cards-flouters div{
    margin: 0 25px;
    width: 15%;
    padding: 10px 0;
    height: auto;
    background-color: var(--marron-cafe-claro);
    border-bottom-left-radius: 20px; /*radio al lado izquierdo parte inferior del contenedor*/
    border-top-right-radius: 20px; /*radio al lado derecho parte superior del contenedor*/
    display: flex;
    flex-direction: column;
    align-items: center;
    /**/
    animation: shadow-div 4.3s linear both;
}
@keyframes shadow-div {
    0% {
        box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
        transform: translateX(0) translateY(0);
    }
    100% {
        box-shadow: 5px 7px 0px 0px var(--marron-cafe);
        transform: translateX(-8px) translateY(-8px);
    }
}


.secundary .cards-flouters div img {
    width: 55%;
    height: auto;
}
.secundary .cards-flouters div a {
    color: var(--beige-claro);
    font-size: 30px;
    text-align: center;
    margin: auto;
}
.secundary .cards-flouters div a:hover {
    text-shadow: 0 8px 8px var(--marron-beige);
    transform: translateY(-10%) scale(1.1);
    transition: transform 0.3s cubic-bezier(0.4, 0, 1, 1);
}

.secundary .contend {
    background-color: var(--marron-amarillo);
    width: 70%;
    height: 400px;
    position: relative; /*"relative" para que se ueda colocar el contenedor de manera flotante*/
    bottom: -20px;
    margin: 0 auto;
    display: grid; /*para ubicar mejor los contenedores hijos*/
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
/*contenedor image*/
.secundary .contend .izq {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    background-image: url('../img/templo-griego.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/*contenedor contend*/
.secundary .contend .drch {
    grid-column: 2;
    grid-row: 1;
    width: 80%;
    display: flex;
    flex-direction: column;
    height: auto;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.secundary .contend .drch h2 {
    font-size: xx-large;
    color: var(--marron-chocolate);
    margin: 20px 0;
    font-family: -webkit-body;
    text-shadow: 0 8px 12px var(--marron-cafe);
}
.secundary .contend .drch p {
    color: #1f170f;
    text-align: justify;
    font-size: 20px;
}
.secundary .contend .drch p a{
    text-shadow: 0 0 10px var(--marron-chocolate);
    color: #c0ad96;
}

/***/
.two-contends .flex-aside{
    height: 400px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.two-contends .flex-aside section{
    width: 100%;
    padding: 15px;
}

.two-contends .flex-aside .cuadros-flex {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
}
.two-contends .flex-aside .cuadros-flex .tittle {
    font-size: 25px;
    margin: 20px 0;
    font-family: 'Young Serif';
    animation: movimiento-de-latido 1.5s linear infinite both;
}
    @keyframes movimiento-de-latido {
        from {
            transform: scale(1);
            transform-origin: center center;
            animation-timing-function: ease-out;
        }
        10% {
            transform: scale(0.97);
            animation-timing-function: ease-in;
        }
        17% {
            transform: scale(0.99);
            animation-timing-function: ease-out;
        }
        33% {
            transform: scale(0.98);
            animation-timing-function: ease-in;
        }
        45% {
            transform: scale(1);
            animation-timing-function: ease-out;
        }
    }


.two-contends .flex-aside .izquierda {
    background-color: #52473f;
    grid-column: 1;
}
.two-contends .flex-aside .izquierda h3 {
    color: #c6b9aa;
}
.two-contends .flex-aside .izquierda p {
    color: #e0bb8e;
    width: 60%;
    text-align: center;
}

.two-contends .flex-aside .derecha {
    background-color: #2d2221;
    grid-column: 2;
}
.two-contends .flex-aside .derecha h3{
    color: #e0bb8e;
}
.two-contends .flex-aside .derecha p{
    color: #c6b9aa;
    width: 60%;
    text-align: center;
}

/*estilos a las imagenes de muestra*/
.images {
    height: 600px;
    width: 100%;
    display: flex;
}


.images .cards-image {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.images .cards-image div {
    background-color: rgb(204, 219, 128);
    width: 100%;
    height: 100%;
}

.images .cards-image div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*Section del carrusel*/
.slider {
    padding: 5px 0 20px 0;
    background-color: var(--marron-beige);
    width: 100%;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.slider h4 {
    color: var(--marron-chocolate);
    text-shadow: 0 1px 13px var(--amarillo-cafe);
    font-family: auto;
    z-index: 2;
    font-size: 40px;
    margin-bottom: 25px;
}

.slider .slider_contend {
    overflow-x: scroll;
    scroll-snap-type: both;
    display: flex;
    gap: 4%;
    padding-bottom: 1rem;
    width: 70%;
    height: 80%;
}
.slider .slider_contend::-webkit-scrollbar{
    width: 25%;
}
.slider .slider_contend::-webkit-scrollbar-track{
    background: var(--beige-claro);
    border-radius: 20px;
}
.slider .slider_contend::-webkit-scrollbar-thumb{
    background-color: var(--marron-cafe);
    border-radius: 20px;
}

.slider .slider_contend div {
    scroll-snap-align: start;
    display: flex;
    border-radius: 0.25rem;
}

.slider .slider_contend div img {
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
/**/

/*estilo al footer*/

.comunicaion {
    background-color: var(--marron-cafe);
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding: 15px 0;
}
/**/
.comunicaion .aside-izquierdo {
    grid-column: 1;
}

.comunicaion .aside-izquierdo form  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    align-items: center;
}

.comunicaion .aside-izquierdo form label {
    color: var(--amarillo-cafe);
    font-size: 20px;
    margin: 5px 5px 5px auto;
    width: 40%;
    text-align: center;
}
.comunicaion .aside-izquierdo form #comentario {
    width: 35%;
    height: 100px;
    font-size: 16px;
    color: var(--marron-chocolate);
    background-color: #f5c37dbf;
    outline: none;
}
.comunicaion .aside-izquierdo form input{
    width: 10%;
    margin: auto 0 5px 10px;
    background-color: var(--marron-amarillo);
    font-size: 20px;
    font-family: auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}  
.comunicaion .aside-izquierdo form input:hover{
    box-shadow: 0 10px 20px var(--marron-beige);
    background: linear-gradient(135deg,#cebc9b,#7A664B );
    transform: translateY(-10%) scale(1.1);
    transition: transform 0.3s cubic-bezier(0.4, 0, 1, 1);
}
/**/
.comunicaion .aside-derecho {
    grid-column: 2;
}
.comunicaion .aside-derecho .redes-sociales {
    list-style: none;
    display: flex;
    gap: 0;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.comunicaion .aside-derecho ul li a img {
    margin: 4px 20px;
}


footer article{
    background-color: var(--marron-chocolate);
    height: auto;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 50px;
}
footer article p {
    color: #e9cda6;
    font-size: large;
    font-family: auto;
}


/*---------------------------------MEDIAS QUERIES----------------------------*/
/*las medidas de losmedias queries son las mismas que utilice para el index.html*/

/*para pantallas aun mas pequeñas*/
@media screen and (min-width:320px) and (max-width:480px) {
    .principal {
        background-image: url("file:///C:/Users/operador34/Downloads/Picsart_23-10-31_11-48-08-956.jpg");
    }
    .principal nav{
        padding-right: 0;
        align-items: center;
    }
    .principal nav h6{
        color: var(--white);
        background-color: var(--marron-beige);
        border: none;
        font-size: 20px;
    }
    .principal aside{
        width: 100%;
        height: 100%;
        margin-top: 10px;
    }

    .principal aside .opciones-container {
        width: 100%;
        position: fixed;
        height: 100%;
        margin: 0 0;
        overflow-y: auto;
    }
    .principal aside .opciones-container a h3,
    .principal aside .opciones-container a ul {
        font-size: initial;
    }
    .principal .introduction {
        width: 80%;
        height: auto;
        background-color: #1f170f52;
        box-shadow: 0 0px 200px 0 #1f170f;
        border-radius: 15px;
        margin: 50px auto;
        padding: 30px 5px;
    }
    .principal .introduction .contenedor-titulo{
        padding: 0;
    }
    .principal .introduction .contenedor-titulo h1{
        color: var(--white);
        font-size: 40px;
    }
    .principal .introduction .contenedor-titulo h1 span {
        font-size: 45px;
    }
    .principal .introduction .contenedor-texto {
        width: 100%;
    }
    .principal .introduction .contenedor-texto p {
        color: var(--white);
        font-size: 16px;
    }
    /**/
    .principal nav aside .opciones-container .closed-opciones {
        position: relative;
        font-size: x-large;
        width: 20%;
        text-align: center;
        margin: 0 auto;
    }
    /**/
    .secundary .cards-flouters{
        gap: 0;
    }
    .secundary .cards-flouters div {
        margin: 0 5px;
        width: 60%;
        animation: none;
        box-shadow: 0 0 4px var(--marron-chocolate);
    }

    .secundary .cards-flouters div img {
        width: 100%;
        height: 80px;
    }
    .secundary .cards-flouters div a {
        font-size: 15px;
        font-weight: 700;
    }

    .secundary .contend{
        width: 100%;
        position: relative;
        bottom: -10px;
        height: auto;
    }
    .secundary .contend .drch h2{
        font-size: x-large;
        margin: 10px 0;
    }
    .secundary .contend .drch p {
        font-size: 11px;
        font-weight: 800;
        margin: 20px 0;
    }

    .two-contends .flex-aside .cuadros-flex .tittle {
        font-size: 15px;
        text-align: center;
    }
    .two-contends .flex-aside .izquierda p, .two-contends .flex-aside .derecha p {
        width: 95%;
        font-size: 12px;    
    }

    .images {
        margin: 0;
        height: auto;
    }
    .images .cards-image {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin: auto;
    }
    .images .cards-image .div-1 {
        grid-row: 1;
        grid-column: 1;
    } 
    .images .cards-image .div-2{
        grid-column: 2;
        grid-row: 1;
    }
    .images .cards-image .div-3{
        grid-column: 1;
        grid-row: 2;
    }
    .images .cards-image .div-4{
        grid-column: 2;
        grid-row: 2;
    }


    .slider{
        position: relative;
    }
    .slider h4 {
        font-size: xx-large;
        text-align: center;
    }
    .slider .slider_contend{
        width: 80%;
    }

    .comunicaion {
        gap: 0;
        grid-template-columns: 1fr 0fr;
    }
    .comunicaion .aside-izquierdo form {
        flex-direction: column;
    }
    .comunicaion .aside-izquierdo form label{
        margin: auto;
        font-size: larger;
        width: 90%;
    }
    .comunicaion .aside-izquierdo form #comentario {
        width: 80%;
        margin: 15px 0;
    }
    .comunicaion .aside-izquierdo form input{
        width: 40%;
        box-shadow: 0 10px 20px var(--marron-beige);
    background: linear-gradient(135deg,#cebc9b,#7A664B );
    }
    .comunicaion .aside-izquierdo form input:hover{
    transform: none;
    transform: none;
    }
    .comunicaion .aside-derecho{
        width: 100%;
    }
    .comunicaion .aside-derecho .redes-sociales{
        display: flex;
        flex-direction: column;
    }
}

/*Para telefonos moviles (portatil)*/
@media screen and (min-width:481px) and (max-width:767px) {
    .principal {
        background-image: url("file:///C:/Users/operador34/Downloads/Picsart_23-10-31_11-48-08-956.jpg");
    }
    .principal nav{
        padding-right: 0;
        align-items: center;
    }
    .principal nav h6{
        color: var(--white);
        background-color: var(--marron-beige);
        border: none;
    }
    .principal aside{
        width: 100%;
        height: 100%;
        margin-top: 10px;
    }

    .principal aside .opciones-container {
        width: 100%;
        position: fixed;
        height: 100%;
        margin: 0 0;
    }
    .principal .introduction {
        width: 80%;
        height: auto;
        background-color: #1f170f52;
        box-shadow: 0 0px 200px 0 #1f170f;
        border-radius: 15px;
        margin: 50px auto;
        padding: 30px 5px;
    }
    .principal .introduction .contenedor-titulo{
        padding: 0;
    }
    .principal .introduction .contenedor-titulo h1{
        color: var(--white);
    }
    .principal .introduction .contenedor-texto {
        width: 100%;
    }
    .principal .introduction .contenedor-texto p {
        color: var(--white);
    }
    /**/
    .principal nav aside .opciones-container .closed-opciones {
        position: relative;
        font-size: xx-large;
        width: 20%;
        text-align: center;
        margin: 0 auto;
    }
    /**/
    .secundary .cards-flouters{
        gap: 20px;
    }
    .secundary .cards-flouters div {
        margin: 0 ;
        width: 20%;
    }
    .secundary .cards-flouters div img {
        width: 100%;
        height: 80px;
    }
    .secundary .cards-flouters div a {
        font-size: 20px;
    }

    .secundary .contend{
        width: 100%;
        position: relative;
        bottom: -35px;
    }
    .secundary .contend .drch h2{
        font-size: x-large;
    }
    .secundary .contend .drch p {
        font-size: 12px;
    }

    .two-contends .flex-aside .cuadros-flex .tittle {
        font-size: 15px;
        text-align: center;
    }
    .two-contends .flex-aside .izquierda p, .two-contends .flex-aside .derecha p {
        width: 95%;
        font-size: 12px;    
    }

    .images {
        margin: 0;
        height: auto;
    }
    .images .cards-image {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin: auto;
    }
    .images .cards-image .div-1 {
        grid-row: 1;
        grid-column: 1;
    } 
    .images .cards-image .div-2{
        grid-column: 2;
        grid-row: 1;
    }
    .images .cards-image .div-3{
        grid-column: 1;
        grid-row: 2;
    }
    .images .cards-image .div-4{
        grid-column: 2;
        grid-row: 2;
    }


    .slider{
        position: relative;
    }
    .slider h4 {
        font-size: xx-large;
        text-align: center;
    }
    .slider .slider_contend{
        width: 80%;
    }

    .comunicaion {
        gap: 0;
        grid-template-columns: 1fr 0fr;
    }
    .comunicaion .aside-izquierdo form {
        flex-direction: column;
    }
    .comunicaion .aside-izquierdo form label{
        margin: auto;
        font-size: larger;
        width: 90%;
    }
    .comunicaion .aside-izquierdo form #comentario {
        width: 80%;
        margin: 15px 0;
    }
    .comunicaion .aside-izquierdo form input{
        width: 40%;
        box-shadow: 0 10px 20px var(--marron-beige);
    background: linear-gradient(135deg,#cebc9b,#7A664B );
    }
    .comunicaion .aside-izquierdo form input:hover{
    transform: none;
    transform: none;
    }
    .comunicaion .aside-derecho{
        width: 100%;
    }
    .comunicaion .aside-derecho .redes-sociales{
        display: flex;
        flex-direction: column;
    }
}

/*Para tabletas (en modo vertical)*/
@media screen and (min-width:768px) and (max-width: 991px) {
    .principal aside .opciones-container {
        width: 60%;
    }
    .principal .introduction {
        align-content: flex-end;
    }
    .principal .introduction .contenedor-texto {
        width: 110%;
    }

    .secundary .cards-flouters div {
        margin: 0 20px;
    }
    .secundary .cards-flouters div img {
        width: 100%;
        height: 100px;
    }

    .secundary .contend{
        width: 80%;
    }
    .secundary .contend .drch p {
        font-size: 16px;
    }

    .two-contends .flex-aside .cuadros-flex .tittle {
        font-size: 18px;
        text-align: center;
    }
    .two-contends .flex-aside .izquierda p, .two-contends .flex-aside .derecha p {
        width: 90%;
        font-size: large;
    }

    .slider .slider_contend{
        width: 80%;
    }

    .comunicaion {
        gap: none;
    }
    .comunicaion .aside-izquierdo form input{
        width: 18%;
        box-shadow: 0 10px 20px var(--marron-beige);
    background: linear-gradient(135deg,#cebc9b,#7A664B );
    }
    .comunicaion .aside-izquierdo form input:hover{
    transform: none;
    transform: none;
    }
}

/*Para tabletas (en modo horizontal)*/
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .principal .introduction .contenedor-texto {
    width: 95%;
    }

    .principal aside .opciones-container{
        width: 45%;
    }

    .secundary .cards-flouters div img {
        width: 75%;
        height: 100px;
    }

    .secundary .contend .drch p {
        color: #1f170f;
        text-align: justify;
        font-size: 18px;
    }

    .secundary .contend{
        width: 80%;
    }

    .two-contends .flex-aside .cuadros-flex .tittle {
        font-size: 22px;
        text-align: center;
    }

    .two-contends .flex-aside .izquierda p, .two-contends .flex-aside .derecha p {
        width: 90%;
    }

    .slider .slider_contend{
        width: 85%;
    }
    .comunicaion .aside-izquierdo form input{
        box-shadow: 0 10px 20px var(--marron-beige);
        background: linear-gradient(135deg,#cebc9b,#7A664B );
    }
    .comunicaion .aside-izquierdo form input:hover{
    transform: none;
    transform: none;
    }
}

/*Para computadoras portatiles (por ejemplo un Surface Pron 7)*/
@media screen and (min-width: 1200px) {
    .principal aside .opciones-container{
        width: 35%;
    }

    .secundary .contend .drch p{
        font-size: 18px;
    }

    .two-contends .flex-aside .cuadros-flex .tittle{
        font-size: 20px;
    }

    .two-contends .flex-aside .izquierda p, .two-contends .flex-aside .derecha p {
        width: 80%;
    }

    .slider .slider_contend{
        width: 80%;
    }
}