/*Variables globales*/
:root { 
    --font-primero: 'Bebas Neue', cursive;
    --white: #e3dfd7;
    --white-amarillo: #f5deb3;
    --amarillo-cafe:#f5c37d;
    --beige-claro: #9E927E;
    --cafe-palido: #9c8c6f;
    --marron-beige:#7A664B;
    --marron-amarillo: #8E7E62;
    --marron-cafe-claro: #595049;
    --marron-cafe: #483A24;
    --marron-chocolate: #372819;
    --font-family-cursive: 'Dancing Script', cursive;
    --font-family-elegante: 'Young Serif', serif;
}
html, body {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    background-color: var(--marron-cafe);
}
/*evitar la barra de scroll por defecto*/
body::-webkit-scrollbar{
    display: none;
}
.inactive {
    display: none;
}

/*Estilos al navbar (encabezado)*/
header nav{
    /* Establece el radio de curvatura de la esquina inferior izquierda a 31px */
    border-bottom-left-radius: 31px;
    /* Establece el radio de curvatura de la esquina inferior derecha a 31px */
    border-bottom-right-radius: 31px;

    /* Establece el ancho del elemento al 100% del contenedor padre */
    width: 100%;
    /* Ajusta la altura automáticamente según el contenido */
    height: auto;

    /* Establece el color de fondo utilizando una variable CSS llamada "--marron-beige" */
    background-color: var(--marron-beige);

    /* Utiliza el modelo de caja flexible (flexbox) para organizar los elementos internos y Distribuye el espacio entre los elementos internos para que ocupen todo el ancho del contenedor */
    display: flex;
    justify-content: space-between;
    /* Alinea los elementos hijos en la parte inferior del contenedor */
    align-items: flex-end;

    /* Aplica una sombra al elemento*/
    box-shadow: 0 5px 10px #7a664b;
}

/*titulo h1*/
header nav .contenedor-titulo {
    padding-top: 15px;
    padding-left: 90px;
}
header nav .contenedor-titulo h1 {
    font-family: var(--font-family-elegante);
    color: var(--white);
    font-weight: 550;
    font-size: 30px;
    text-align: center;
}

header nav .contenedor-titulo h1 span {
    font-family: var(--font-family-cursive);
    font-size: 40px;
    font-weight: 400;
    position: relative;
    bottom: 19px;
}

/*botones*/
header nav div {
    height: 100px;
    display: flex;
}
header nav div #opciones, header nav div #retrosede{
    color: var(--white);
    font-weight: 700;
    font-size: 22px;
    font-family: auto;
    border: 1px solid;
    border-radius: 5px;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #f5deb300;
}

header nav div #opciones {
    margin: auto 90px auto 0;
}
header nav div #retrosede{
    margin: auto 30px;
} 

/*menu de opciones*/
header nav aside {
    position: absolute;
    bottom: 0;
    z-index: 2;
    height: 100%;
    right: 0;
    width: 100%;
    background-color: #37281969;
}
header nav aside .opciones-container {
    background-color: var(--marron-beige);
    width: 25%;
    padding: 10px 35px;
    height: auto;
    position: fixed;
    right: 0;
    margin: 110px 90px 5px 0px;
    z-index: 3;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
header nav aside .opciones-container .closed-opciones {
    color: var(--white);
    background-color: var(--marron-chocolate);
    border-radius: 5px;
    margin: 5px 20px;
    font-weight: bolder;
    padding: 5px 8px; 
    cursor: pointer;
    right: 10px;
    position: fixed;
    font-size: xx-large;
}

header nav  aside .opciones-container a {
    color: var(--white);
    margin: 5px 0;
    font-size: 22px;
    cursor: default;
}

header nav aside .opciones-container a h3 {
    font-weight: 400;
    font-family: var(--font-family-elegante);
    margin: 5px 0;
    text-shadow: 0 8px 5px var(--marron-chocolate);
    cursor: pointer;
}

header nav aside .opciones-container a ul {
    margin: 0 0 0 60px;
    list-style: circle;
}

/*-----------------------------------------------------------------------------*/
.contenido {
    margin: 80px auto;
    width: 70%;
}

.contenido h1 {
    color: var(--cafe-palido);
    text-align: center;
    font-size: 90px;
    font-weight: 400;
    text-shadow: 0 10px 3px var(--marron-chocolate);
    font-family: var(--font-family-elegante);
    margin: 30px 0;
    /*animacion*/
	animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}  
@keyframes tracking-in-expand-fwd-top {
        0% {
            letter-spacing: -0.5em;
            transform: translateZ(-700px) translateY(-500px);
            opacity: 0;
        }
        40% {
            opacity: 0.6;
        }
        100% {
            transform: translateZ(0) translateY(0);
            opacity: 1;
        }
}


.contenido .contenido_container {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.contenido .contenido_container section h2{
    font-size: 50px;
    color: #b0a48d;
    margin: 0 20px;
}

.contenido .contenido_container section .separador {
    width: 80%;
    height: 3px;
    background: linear-gradient(45deg, #c0a177, transparent);
}

.contenido .contenido_container section p{
    color: #cabfaf;
    margin: 20px 10px;
    font-size: 20px;
    text-align: justify;
}
.contenido .contenido_container section .introduccion {
    text-align: justify;
}

.contenido .contenido_container .informacion-actual  {
    display: flex;
    flex-direction: column;
}
.contenido .contenido_container .informacion-actual img {
    width: 90%;
    margin: 0 auto;
    /*animacion*/
    animation: fade-in-fwd 4.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite;
}
@keyframes fade-in-fwd {
    0% {
        transform: translateZ(-80px);
        opacity: 0;
    }
    100% {
        transform: translateZ(0);
        opacity: 1;
    }
}

/**/
.contenido .contenido_container section .slider {
    width: 100%;
    margin: 60px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contenido .contenido_container section .slider .slider_contend {
    /* Establece el desplazamiento horizontal pero oculta el desplazamiento vertical */
    overflow-x: scroll;
    overflow-y: hidden;

    /* Define el comportamiento de desplazamiento para el contenido, tanto en el inicio como en el final */
    scroll-snap-type: both;

    /* Utiliza el modelo de flex para organizar los elementos internos */
    display: flex;

    /* Establece un espacio entre los elementos internos */
    gap: 4%;

    /* Agrega un relleno en la parte inferior del contenedor interno */
    padding-bottom: 1rem;

    /* Establece el ancho del contenedor interno al 90% del contenedor padre */
    width: 90%;

    /* Establece la altura del contenedor interno al 80% del contenedor padre */
    height: 80%;

    /* Establece la posición del contenedor interno como relativa con respecto a su contenedor padre */
    position: relative;
}

/* Estilo para la barra de desplazamiento en navegadores WebKit (como Chrome y Safari) */
/* Establece el ancho de la barra de desplazamiento al 25% del ancho del contenedor */
.contenido .contenido_container section .slider .slider_contend::-webkit-scrollbar {
    width: 25%;
}

/* Estilo para la pista de la barra de desplazamiento */
.contenido .contenido_container section .slider .slider_contend::-webkit-scrollbar-track {
    background-color: #b0a48d78;
    border-radius: 20px;
}

/* Estilo para el pulgar (la parte móvil) de la barra de desplazamiento */
.contenido .contenido_container section .slider .slider_contend::-webkit-scrollbar-thumb {
    background-color: var(--white);
    border-radius: 20px;
}

.contenido .contenido_container section .slider .slider_contend article {
    scroll-snap-align: start;
    display: flex;
    border-radius: 0.25rem;
    height: 500px;
}

.contenido .contenido_container .slider .slider_contend article aside {   
    height: 100%;
    width: 300px;
}


.contenido .contenido_container .slider .slider_contend article aside img {
    object-fit: cover;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.contenido .contenido_container .slider .slider_contend article aside div {
    position: absolute;
    bottom: -100%;
    left: auto;
    height: 80%;
    width: 300px;
    background-color: #352719b0;
    box-shadow: inset 0 0 12px #4d3e30;
    padding: 20px;
    transition: 0.3s ease;
    box-sizing: border-box;
}

.contenido .contenido_container .slider .slider_contend article:hover div {
    bottom: 0; /* Muestra el contenido desplegable cuando el cursor está encima del contenedor */
    margin-bottom: 15px;
    border-radius: 10px;
}

.contenido .contenido_container .slider .slider_contend article aside div h3 {
    font-family: math;
    color: var(--white);
    font-size: xx-large;
    text-align: center;
    text-shadow: 0 6px 5px var(--marron-cafe);
}
.contenido .contenido_container .slider .slider_contend article aside div p{
    color: #f4d2a2;
}

/*footer*/
footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 8px 0;
    background-color: var(--marron-chocolate);
}

footer .footer_redes .redes-sociales {
    list-style: none;
    display: flex;
    gap: 0;
    justify-content: center;
    align-items: center;
    height: 100%;
}


footer .footer_redes ul li a img {
    margin: 4px 20px;
}


/*---------------------------------MEDIAS QUERIES----------------------------*/
/*las medidas de losmedias queries son las mismas que utilice para el index.html*/
/*Para telefonos moviles (portatil)*/
@media screen and (min-width:360px) and (max-width:767px){
    header nav{
        justify-content: flex-end;
    }
    header nav aside .opciones-container{
        width: 100%;
        position: fixed;
        height: 100%;
        margin: 15px 0 0 0;
    }
    header nav .contenedor-titulo{
        display: none;
    }
    header nav aside .opciones-container .closed-opciones {
        position: relative;
        font-size: xx-large;
        width: 20%;
        text-align: center;
        margin: 0 auto;
    }

    .contenido {
        margin: 40px auto;
        width: 90%;
    }
    .contenido h1 {
        font-size: 60px;
        margin: 20px 0;
    }

    .contenido .contenido_container section h2 {
        font-size: 37px;
        margin: 0 15px;
    }
    .contenido .contenido_container section .separador {
        width: 100%;
    }
    .contenido .contenido_container section p {
        margin: 10px 5px;
        font-size: 17px;
    }

    .contenido .contenido_container section .slider{
        position: relative;
    }
    .contenido .contenido_container section .slider .slider_contend{
        width: 80%;
    }
}
/*Para tabletas (en modo vertical)*/
@media screen and (min-width:768px) and (max-width: 991px){
    header nav aside .opciones-container {
        width: 60%;
    }
    .contenido {
        width: 85%;
    }
    .contenido .contenido_container section .slider .slider_contend{
        width: 90%;
    }
}
/*Para tabletas (en modo horizontal)*/
@media screen and (min-width: 992px) and (max-width: 1199px){
    header nav aside .opciones-container {
    width: 40%;
    }
    .contenido {
        width: 80%;
    }
    .contenido .contenido_container section .slider .slider_contend{
        width: 85%;
    }
}
