/*Variables globales*/
:root { 
    --font-primero: 'Bebas Neue', cursive;
    --white: #e3dfd7;
    --white-amarillo: #f5deb3;
    --amarillo-cafe:#f5c37d;
    --beige-claro: #9E927E;
    --cafe-palido: #9c8c6f;
    --marron-beige:#7A664B;
    --marron-amarillo: #8E7E62;
    --marron-cafe-claro: #595049;
    --marron-cafe: #483A24;
    --marron-chocolate: #372819;
    --font-family-cursive: 'Dancing Script', cursive;
    --font-family-elegante: 'Young Serif', serif;
}
html, body {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    background-color: var(--marron-cafe);
}
body::-webkit-scrollbar{
    display: none;
}
.inactive {
    display: none;
}

/*Estilos al navbar (encabezado)*/
header nav{
    border-bottom-left-radius: 31px;
    border-bottom-right-radius: 31px;
    width: 100%;
    height: auto;
    background-color: var(--marron-beige);
    display: flex;
    /* padding-right: 90px; */
    justify-content: space-between;
    align-items: flex-end;
    box-shadow: 0 5px 10px #7a664b;
}

/*titulo h1*/
header nav .contenedor-titulo {
    padding-top: 15px;
    padding-left: 90px;
}
header nav .contenedor-titulo h1 {
    font-family: var(--font-family-elegante);
    color: var(--white);
    font-weight: 550;
    font-size: 30px;
    text-align: center;
}
header nav .contenedor-titulo h1 span {
    font-family: var(--font-family-cursive);
    font-size: 40px;
    font-weight: 400;
    position: relative;
    bottom: 19px;
}

/*botones*/
header nav div {
    height: 100px;
    display: flex;
}
header nav div #opciones, header nav div #retrosede{
    color: var(--white);
    font-weight: 700;
    font-size: 22px;
    font-family: auto;
    border: 1px solid;
    border-radius: 5px;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #f5deb300;
}

header nav div #opciones {
    margin: auto 90px auto 0;
}
header nav div #retrosede{
    margin: auto 30px;
} 

/*menu de opciones*/
header nav aside {
    position: absolute;
    bottom: 0;
    z-index: 2;
    height: 100%;
    right: 0;
    width: 100%;
    background-color: #37281969;
}
header nav aside .opciones-container {
    background-color: var(--marron-beige);
    width: 25%;
    padding: 10px 35px;
    height: auto;
    position: fixed;
    right: 0;
    margin: 110px 90px 5px 0px;
    z-index: 3;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
header nav aside .opciones-container .closed-opciones {
    color: var(--white);
    background-color: var(--marron-chocolate);
    border-radius: 5px;
    margin: 5px 20px;
    font-weight: bolder;
    padding: 5px 8px; 
    cursor: pointer;
    right: 10px;
    position: fixed;
    font-size: xx-large;
}

header nav  aside .opciones-container a {
    color: var(--white);
    margin: 5px 0;
    font-size: 22px;
    cursor: default;
}

header nav aside .opciones-container a h3 {
    font-weight: 400;
    font-family: var(--font-family-elegante);
    margin: 5px 0;
    text-shadow: 0 8px 5px var(--marron-chocolate);
    cursor: pointer;
}

header nav aside .opciones-container a ul {
    margin: 0 0 0 60px;
    list-style: circle;
}

/*-----------------------------------------------------------------------------*/
.contenido {
    margin: 80px auto;
    width: 70%;
}

.contenido h1 {
    color: var(--cafe-palido);
    text-align: center;
    font-size: 90px;
    font-weight: 400;
    text-shadow: 0 10px 3px var(--marron-chocolate);
    font-family: var(--font-family-elegante);
    margin: 30px 0;

    /**/
	animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}  
@keyframes tracking-in-expand-fwd-top {
        0% {
            letter-spacing: -0.5em;
            transform: translateZ(-700px) translateY(-500px);
            opacity: 0;
        }
        40% {
            opacity: 0.6;
        }
        100% {
            transform: translateZ(0) translateY(0);
            opacity: 1;
        }
}
.contenido .contenido_container {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.contenido .contenido_container section h2{
    font-size: 50px;
    color: #b0a48d;
    margin: 0 20px;
}

.contenido .contenido_container section .separador {
    width: 80%;
    height: 3px;
    background: linear-gradient(45deg, #c0a177, transparent);
}

.contenido .contenido_container .centro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin: 35px auto 0;
}

.contenido .contenido_container .centro img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 25px;
    /**/
    animation: titileo 2s linear infinite both;
}
@keyframes titileo{
    0%,
    100% {
        opacity: 1;
    }
    41.99% {
        opacity: 1;
    }
    42% {
        opacity: 0;
    }
    43% {
        opacity: 0;
    }
    43.01% {
        opacity: 1;
    }
    47.99% {
        opacity: 1;
    }
    48% {
        opacity: 0;
    }
    49% {
        opacity: 0;
    }
    49.01% {
        opacity: 1;
    }
}


.contenido .contenido_container .centro span {
    margin: 10px 0 0;
    text-align: center;
    font-size: initial;
    font-family: math;
    color: #d97d65;
    font-weight: 700;
    text-shadow: 0 0 15px #ca9863;
    /**/
    overflow: hidden; /* Para ocultar el texto completo */
    border-right:transparent; /* Efecto del cursor de la mÃ¡quina de escribir */
    white-space: nowrap;  /*Evitar el salto de lÃ­nea */
    letter-spacing: 1px; /* Espaciado entre letras */
    animation: monoescrito 10s steps(62) 8s infinite;
}
@keyframes monoescrito {
    from {
        width: 0;
    }
    to {
        width: 90%; /* Ancho total del texto (40 letras) */
    }
}

.contenido .contenido_container section p {
    color: #cabfaf;
    margin: 20px 10px;
    font-size: 20px;
    text-align: justify;
}

.contenido .contenido_container ul {
    padding: 12px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 20px;
    width: 100%;
    height: auto;
}
.contenido .contenido_container ul li {
    color: #cabfaf;
    margin: 0px 20px;
    font-size: 20px;
    text-align: justify;
    list-style-position: inside;
}

/***/
.contenido .contenido_container section:nth-child(4){
    height: auto;
    margin-bottom: 80px;
}
.contenido .contenido_container section .heroes-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenido .contenido_container section .heroes-4 h3{
    font-size: 40px;
    color: #b0a48d;
    margin: 30px;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--cafe-palido);
}
.contenido .contenido_container section section article {
    display: flex;
    width: 100%;
    gap: 2%;
    height: auto;
}
.contenido .contenido_container section section article  div{
    width: 300px;
    height: 300px;
}
.contenido .contenido_container section section article  div img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    /**/
    animation: swing-in-top-fwd 10.5s ease-in-out infinite;
}
@keyframes swing-in-top-fwd {
    0% {
        transform: rotateX(-100deg);
        transform-origin: top;
        opacity: 0;
    }
    100% {
        transform: rotateX(0deg);
        transform-origin: top;
        opacity: 1;
    }
}

.contenido .contenido_container section section article div p {
    margin: 10px 5px;
}
.contenido .contenido_container section section article  div p span {
    color: #f5a56d;
    text-shadow: 0 0 20px #f1e3d9;
    font-weight: 600;
    font-family: auto;
}
/**/
footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 8px 0;
    background-color: var(--marron-chocolate);
}

footer .footer_redes .redes-sociales {
    list-style: none;
    display: flex;
    gap: 0;
    justify-content: center;
    align-items: center;
    height: 100%;
}


footer .footer_redes ul li a img {
    margin: 4px 20px;
}


/*---------------------------------MEDIAS QUERIES----------------------------*/
/*las medidas de losmedias queries son las mismas que utilice para el index.html*/
/*Para telefonos moviles (portatil)*/
@media screen and (min-width:360px) and (max-width:767px){
    header nav{
        justify-content: flex-end;
    }
    header nav aside .opciones-container{
        width: 100%;
        position: fixed;
        height: 100%;
        margin: 15px 0 0 0;
    }
    header nav .contenedor-titulo{
        display: none;
    }
    header nav aside .opciones-container .closed-opciones {
        position: relative;
        font-size: xx-large;
        width: 20%;
        text-align: center;
        margin: 0 auto;
    }

    .contenido {
        margin: 40px auto;
        width: 90%;
    }
    .contenido h1 {
        font-size: 70px;
        margin: 20px 0;
    }

    .contenido .contenido_container section h2 {
        font-size: 37px;
        margin: 0 15px;
    }
    .contenido .contenido_container section .separador {
        width: 100%;
    }
    .contenido .contenido_container section p {
        margin: 10px 5px;
        font-size: 17px;
    }

    .contenido .contenido_container ul{
        display: flow;
        padding: 10px 0px;  
    }
    .contenido .contenido_container ul li{
        margin: 0 10px;
    }

    .contenido .contenido_container .centro{
        width: 70%;
        margin: 35px auto;
    }
    /**/
    .contenido .contenido_container section section article {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 150px;display: flex;
        flex-direction: column;
    }
}
/*Para tabletas (en modo vertical)*/
@media screen and (min-width:768px) and (max-width: 991px){
    header nav aside .opciones-container {
        width: 60%;
    }
    .contenido {
        width: 85%;
    }
    .contenido .contenido_container .centro{
        width: 60%;
    }
    /**/
    .contenido .contenido_container section section article {
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 2%;
        row-gap: 30%;
    }
    .contenido .contenido_container section section article  div:nth-child(1){
        grid-column: 1;
        grid-row: 1;
    }
    .contenido .contenido_container section section article  div:nth-child(2){
        grid-column: 2;
        grid-row: 1;
    }
    .contenido .contenido_container section section article  div:nth-child(3){
        grid-column: 1;
        grid-row: 2;
    }
    .contenido .contenido_container section section article  div:nth-child(4){
        grid-column: 2;
        grid-row: 2;
    }
    /**/
    footer {
        margin-top: 200px;
    }
}

/*Para tabletas (en modo horizontal)*/
@media screen and (min-width: 992px) and (max-width: 1199px){
    header nav aside .opciones-container {
    width: 40%;
    }
    .contenido {
        width: 80%;
    }
    /**/
    .contenido .contenido_container section section article {
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 2%;
        row-gap: 30%;
    }
    .contenido .contenido_container section section article  div:nth-child(1){
        grid-column: 1;
        grid-row: 1;
    }
    .contenido .contenido_container section section article  div:nth-child(2){
        grid-column: 2;
        grid-row: 1;
    }
    .contenido .contenido_container section section article  div:nth-child(3){
        grid-column: 1;
        grid-row: 2;
    }
    .contenido .contenido_container section section article  div:nth-child(4){
        grid-column: 2;
        grid-row: 2;
    }
    /**/
    footer {
        margin-top: 200px;
    }
}
