:root { 
    --font-primero: 'Bebas Neue', cursive;
    --white: #e3dfd7;
    --white-amarillo: #f5deb3;
    --amarillo-cafe:#f5c37d;
    --beige-claro: #9E927E;
    --cafe-palido: #9c8c6f;
    --marron-beige:#7A664B;
    --marron-amarillo: #8E7E62;
    --marron-cafe-claro: #595049;
    --marron-cafe: #483A24;
    --marron-chocolate: #372819;
    --font-family-cursive: 'Dancing Script', cursive;
    --font-family-elegante: 'Young Serif', serif;
    --gradiente: linear-gradient(45deg, #c0a177, transparent);
}
html, body {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    background-color: #554429;
}
body::-webkit-scrollbar{
    display: none;
}
.inactive {
    display: none;
}

/**/
main  nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: absolute;
}
main  nav a{
    color: var(--white);
    font-weight: 900;
    font-size: 22px;
    font-family: auto;
    border: 1px solid;
    border-radius: 5px;
    padding: 6px 12px;
    cursor: pointer;
    background-color: var(--marron-beige);
    margin: auto 30px;
}

/**/
.principal {
    background-image: url(https://i.pinimg.com/564x/cd/63/08/cd6308a4c4c4a17995af7c905de0aa87.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 13px 15px var(--marron-chocolate);
    display: flex;
    flex-direction: column;
    height: 650px;
    width: 100%;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
}

.principal div {
    padding: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #3728198e;
    justify-content: center;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
}
.principal div h1 {
    font-size: 80px;
    margin: auto 0;
    font-family: var(--font-family-cursive);
    color: var(--white-amarillo);
    text-align: center;
    /**/
    animation: tittle-up-top 1.5s ease-in forwards;
}
@keyframes tittle-up-top {
    0% {
        transform: translateY(0);
        transform-origin: 50% 50%;
        text-shadow: none;
    }
    100% {
        transform: translateY(-25px);
        transform-origin: 50% 50%;
        text-shadow: 0 8px 8px var(--marron-chocolate);
    }
}


/**/
.contenido_container {
    width: 70%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}
.contenido_container section{
    width: 100%;
    height: auto;
    margin: 45px 0;
    padding: 20px;
    border-radius: 25px;
    background-color: #c0a17729;
}
.contenido_container section h2{
    font-size: 50px;
    color: #ddc699;
    margin: auto;
    padding: 5px 10px;
    text-align: center;
    width: fit-content;
    border: 1px solid var(--cafe-palido);
    box-shadow: 0 0 20px var(--cafe-palido);
}
.contenido_container section p {
    color: #f7e5ca;
    margin: 20px 10px;
    font-size: 20px;
    text-align: justify;
}

.contenido_container section p span{
    color: var(--amarillo-cafe);
    font-weight: 600;
}
.contenido_container section q {
    color: #f1d2a6;
    margin-left: 15%;
    font-size: 20px;
    width: 60%;
    text-align: inherit;
    display: block;
    border-left: 3px solid #f5deb33d;
    border-radius: 8px;
    padding: 0 20px;
}


/*section 1*/
.contenido_container section:nth-child(1) div {
    width: 90%;
    margin: 50px auto 15px;
    background: linear-gradient(45deg, #daa6613b, transparent);
    background-color: #483a247d;
    border-radius: 15px;
    padding: 2px 20px;
    box-shadow: 0 0 50px #372819c4;
}
.contenido_container section:nth-child(1) div p:nth-child(2){
    margin: 0 10px 20px;
}
.contenido_container section:nth-child(1) div h3 {
    color: var(--amarillo-cafe);
    font-size: 350%;
    width: fit-content;
    padding-bottom: 1px;
    margin: auto;
    font-family: 'Dancing Script';
    position: relative;
    bottom: 40px;
    text-shadow: 0 2px 5px #372819;
}

/*section 2*/
.contenido_container section:nth-child(2) {
    padding: 15px 35px;
}

.contenido_container section:nth-child(2) div {
    width: 90%;
    margin: 45px auto 15px;
    border-radius: 15px;
    padding: 2px 20px;
    border: 1px solid var(--amarillo-cafe);
    box-shadow: 0 1px 10px var(--marron-amarillo);
}
.contenido_container section:nth-child(2) div h3 {
    text-align: center;
    color: var(--amarillo-cafe);
    font-size: 30px;
    width: fit-content;
    margin: auto;
    font-family: auto;
    position: relative;
    bottom: 23px;
    padding: 0 10px;
    background-color: #665335;
}
.contenido_container section:nth-child(2) div p {
    margin: 0 15px 15px;
}

/*section 3*/
.contenido_container section:nth-child(3){
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
}
.contenido_container section:nth-child(3) img{
    width: 30%;
    margin: auto;
    padding: 0px 20px;
    border-radius: 40px;
}

/**/
footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 8px 0;
    position: relative;
    bottom: 0;
    background-color: var(--marron-chocolate);
}

footer .footer_redes .redes-sociales {
    list-style: none;
    display: flex;
    gap: 0;
    justify-content: center;
    align-items: center;
    height: 100%;
}


footer .footer_redes ul li a img {
    margin: 4px 20px;
}


/*---------------------------------MEDIAS QUERIES----------------------------*/
/*las medidas de losmedias queries son las mismas que utilice para el index.html*/
/*Para telefonos moviles (portatil)*/
@media screen and (min-width:360px) and (max-width:767px){
    .principal div h1 {
        font-size: 68px;
    }
    .contenido_container{
        width: 90%;
    }

    .contenido_container section:hover {
        box-shadow: 0 8px 12px #f5c37d61;
        transform: none;
        transition: none;
    }
    .contenido_container section h2 {
        font-size: 30px;
    }
    .contenido_container section p{
        font-size: 16px;
    }
    .contenido_container section q {
        width: 100%;
        margin-left: 10px;
        font-size: 16px;
    }

/*Para tabletas y pc en horizontal*/

    /**/
    .contenido_container section:nth-child(1) div {
        box-shadow: 0 0 25px #372819c4;
        padding: 2px 6px;
    }
    .contenido_container section:nth-child(1) div h3 {
        bottom: 35px;
        font-size: 280%;
    }

    /**/
    .contenido_container section:nth-child(2) {
        padding: 15px ;
    }
    .contenido_container section:nth-child(2) div h3 {
        font-size: 22px;
        bottom: 35px;
    }
    .contenido_container section:nth-child(2) div p {
        margin: 0 5px 35px;
    }
    .contenido_container section:nth-child(3) {
        padding: 15px;
    }
    .contenido_container section:nth-child(3) img {
        width: 80%;
    }
}
/*Para tabletas (en modo vertical)*/
@media screen and (min-width:768px) and (max-width: 991px){
    .principal div h1 {
        font-size: 70px;
    }
    .contenido_container{
        width: 90%;
    }
    .contenido_container section h2 {
        font-size: 32px;
    }
    .contenido_container section p{
        font-size: 18px;
    }
    .contenido_container section q {
        width: 80%;
    }

/*Para tabletas y pc en horizontal*/

    /**/
    .contenido_container section:nth-child(1) div h3 {
        bottom: 35px;
        font-size: 300%;
    
    }
    .contenido_container section:nth-child(2) div h3 {
        font-size: 25px;
        bottom: 20px;
    }
    .contenido_container section:nth-child(3) img {
        width: 50%;
    }
}
/*Para tabletas (en modo horizontal)*/
@media screen and (min-width: 992px) and (max-width: 1199px){
    .contenido_container{
        width: 88%;
    }
    .contenido_container section h2 {
        font-size: 40px;
    }
    .contenido_container section:nth-child(3) img {
        width: 40%;
    }
}