:root { 
    --font-primero: 'Bebas Neue', cursive;
    --white: #e3dfd7;
    --white-amarillo: #f5deb3;
    --amarillo-cafe:#f5c37d;
    --beige-claro: #9E927E;
    --cafe-palido: #9c8c6f;
    --marron-beige:#7A664B;
    --marron-amarillo: #8E7E62;
    --marron-cafe-claro: #595049;
    --marron-cafe: #483A24;
    --marron-chocolate: #372819;
    --font-family-cursive: 'Dancing Script', cursive;
    --font-family-elegante: 'Young Serif', serif;
    --gradiente: linear-gradient(45deg, #c0a177, transparent);
}
html, body {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    background-color: #554429;
}
body::-webkit-scrollbar{
    display: none;
}

/**/
main  nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: absolute;
}
main  nav a{
    color: var(--white);
    font-weight: 900;
    font-size: 22px;
    font-family: auto;
    border: 1px solid;
    border-radius: 5px;
    padding: 6px 12px;
    cursor: pointer;
    background-color: var(--marron-beige);
    margin: auto 30px;
}

/**/
.principal {
    background-image: url(https://i.pinimg.com/564x/09/23/c6/0923c6b843e0c1e0b14b6f8e5dc1c73a.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 6px 20px #9c8c6f;
    display: flex;
    flex-direction: column;
    height: 650px;
    width: 100%;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
}
.principal div {
    padding: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #3728198e;
    justify-content: center;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
}
.principal div h1 {
    font-size: 80px;
    margin: auto 0;
    font-family: var(--font-family-cursive);
    color: var(--white-amarillo);
    text-align: center;
    text-shadow: 0 8px 8px var(--marron-chocolate);
}

/**/
.contenido_container {
    width: 70%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}
.contenido_container section{
    width: 100%;
    height: auto;
    margin: 45px 0;
    padding: 15px;
    border-radius: 25px;
    background-color: #c0a17729;
}
.contenido_container section h2{
    font-size: 50px;
    color: #ddc699;
    margin: 0 20px;
    margin: auto;
    padding: 5px 10px;
    text-align: center;
    width: 75%;
    border: 1px solid var(--cafe-palido);
    box-shadow: 0 0 20px var(--cafe-palido);
}
.contenido_container section p {
    color: #f7e5ca;
    margin: 20px 10px;
    font-size: 20px;
    text-align: justify;
}
/**/
.contenido_container section .contenedores-info {
    display: grid;
    height: auto;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
    grid-template-areas: 'parrafo1 parrafo1 parrafo1'
                        'parrafo2 imagen parrafo3'
                        'parrafo4 parrafo4 parrafo4' ;
    align-items: center;
}
.contenido_container section .contenedores-info p:nth-child(1){
    grid-area: parrafo1;
}
.contenido_container section .contenedores-info p:nth-child(2){
    grid-area: parrafo2;
}
.contenido_container section .contenedores-info p:nth-child(3){
    grid-area: parrafo3;
}
.contenido_container section .contenedores-info p:nth-child(4){
    grid-area: parrafo4;
}
.contenido_container section .contenedores-info img{
    grid-area: imagen;
    width: 90%;
    box-shadow: 0 10px 10px var(--cafe-palido);
    margin: auto;
    border-radius: 10px;
}

/**/
.contenido_container section:nth-child(2){
    width: 80%;
    display: flex;
    gap: 2%;
    margin: auto;
}
.contenido_container section:nth-child(2) div:nth-child(2) h2 {
    width: 55%;
}
.contenido_container section:nth-child(3) h2 {
    width: 70%;
}


/**/
footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 8px 0;
    position: relative;
    bottom: 0;
    background-color: var(--marron-chocolate);
}

footer .footer_redes .redes-sociales {
    list-style: none;
    display: flex;
    gap: 0;
    justify-content: center;
    align-items: center;
    height: 100%;
}


footer .footer_redes ul li a img {
    margin: 4px 20px;
}


/*---------------------------------MEDIAS QUERIES----------------------------*/
/*las medidas de losmedias queries son las mismas que utilice para el index.html*/
/*Para telefonos moviles (portatil)*/
@media screen and (min-width:360px) and (max-width:767px){
    .principal div h1 {
        font-size: 68px;
    }
    .contenido_container{
        width: 90%;
    }
    .contenido_container section .contenedores-info {
        display: flex;
        flex-direction: column;
    }
    .contenido_container section .contenedores-info img {
        height: 90%;
        object-fit: cover;
        margin: 0 auto 15px;
    }
    .contenido_container section:nth-child(2) {
        width: 85%;
        display: flex;
        flex-direction: column;
    }
    .contenido_container section:nth-child(2) div:nth-child(2) h2 {
        width: 70%;
    }
    .contenido_container section h2 {
        font-size: 30px;
    }
    .contenido_container section p{
        font-size: 16px;
    }
}
/*Para tabletas (en modo vertical)*/
@media screen and (min-width:768px) and (max-width: 991px){
    .principal div h1 {
        font-size: 70px;
    }
    .contenido_container{
        width: 90%;
    }
    .contenido_container section .contenedores-info {
        grid-template-areas: 'parrafo1 parrafo1 parrafo1'
                            'parrafo2 parrafo2 imagen'
                            'parrafo3 parrafo3 imagen'
                            'parrafo4 parrafo4 parrafo4';
    }
    .contenido_container section .contenedores-info img {
        height: 90%;
        object-fit: cover;
    }
    .contenido_container section:nth-child(2) {
        width: 85%;
    }
    .contenido_container section h2 {
        font-size: 35px;
    }
    .contenido_container section p{
        font-size: 18px;
    }
}
/*Para tabletas (en modo horizontal)*/
@media screen and (min-width: 992px) and (max-width: 1199px){
    .contenido_container{
        width: 80%;
    }
    .contenido_container section .contenedores-info {
        grid-template-areas: 'parrafo1 parrafo1 parrafo1'
                            'parrafo2 parrafo2 imagen'
                            'parrafo3 parrafo3 imagen'
                            'parrafo4 parrafo4 parrafo4';
    }
    .contenido_container section .contenedores-info img {
        height: 90%;
        object-fit: cover;
    }
    .contenido_container section:nth-child(2) {
        width: 80%;
    }
    .contenido_container section h2 {
        font-size: 40px;
    }
}