/*Paleta de colores y dos fuentes (incluidas en el html)e*/
:root { 
    --font-primero: 'Bebas Neue', cursive;
    --white: #e3dfd7;
    --white-amarillo: #f5deb3;
    --amarillo-cafe:#f5c37d;
    --beige-claro: #9E927E;
    --cafe-palido: #9c8c6f;
    --marron-beige:#7A664B;
    --marron-amarillo: #8E7E62;
    --marron-cafe-claro: #595049;
    --marron-cafe: #483A24;
    --marron-chocolate: #372819;
    --font-family-cursive: 'Dancing Script', cursive;
    --font-family-elegante: 'Young Serif', serif;
}
html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
}
/*-------------------------------------------------------------------------------------------*/
/*Estilos del encabezado*/
header {
    width: 100%;
    height: auto;
    background-color: var(--beige-claro);
}
/*Estilos de los iconos → Redes Sociales*/ /*con bootstrap*/
header .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}
#degrades {
    width: 100%;
    height: 20px;
    position: absolute;
    background: linear-gradient(0deg, rgba(245,222,179,1) 0%, rgba(158,146,126,1) 100%);
    box-shadow: 0px 11px 20px 2px rgba(245,222,179,1);
}
/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
/*Estilos de la página: Imagen de fondo*/
.contend {
    margin: 0;
    height: 100%;
    padding: 0;
    background-image: url(https://i.pinimg.com/originals/e7/b0/24/e7b024d309117ff24506d44e600ffffb.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;/*codigo para que la imagen ocupe toda la pantalla del dispositivo*/
    background-attachment: fixed; /*Esto me asegura que mientras la pagina sea responsiva, la imagen se adapte a cualquier tipo de pantalla sin configurarme un scroll*/
    display: grid; /*agregue este grid para que me hiciera mas facil posicionar el formulario y para que se viera bien junto la imagen de fondo*/
    grid-template-columns: 1fr 1fr;
}
/*Contenedor del contenido (Titulo, el formulario...)*/
.contend .contend__container {
    grid-column: 1;
    width: 60%;
    margin: auto;
    background-color: var(--beige-claro);
    box-shadow: 0px 11px 20px 2px var(--marron-cafe-claro);
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contend .contend__container .contenedor-titulo {
    padding-top: 30px;
}
.contend .contend__container h1 {
    font-family: var(--font-family-elegante);
    font-weight: 550;
    font-size: 40px;
    text-align: center;
}
.contend .contend__container h1 span {
    font-family: var(--font-family-cursive);
    font-size: 60px;
    font-weight: 400;
    position: relative;
    bottom: 20px;
}
/*Div separador*/
.contend .contend__container #separador {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    border-radius: 50px;
    background: var(--white-amarillo);
    box-shadow: 0px 0px 20px 2px rgba(245,222,179,1);
}
/*Estilos del formulario*/
.contend .contend__container form {
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 28px 0;
}

.contend .contend__container form label {
    font-size: 25px;
    /*Animacionallabel*/
    animation: desplazamiento 3s linear;
}

    @keyframes desplazamiento {
        0% {
            transform: translateX(-40%); /* Comienza desde la izquierda (fuera de la vista(insivible)) */
            opacity: 0;
        }
        100% {
            transform: translateX(0%); /* Termina en la posición original (en pantalla) */
            opacity: 1;
        }

    }

.contend .contend__container form input {
    margin: 10px 25px;
    padding: 10px;
    width: 80%;
    color: black;
    cursor: pointer;
    font-size: 17px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: var(--marron-amarillo);
}
/*Animaciones en los input's*/
.contend .contend__container form input:hover {
    background-color: var(--cafe-palido);
}
.contend .contend__container form:hover input {
    transform: scale(1.2);
}
.contend .contend__container form #individuo {
    transition: transform 1s;
    padding: 8px 10px;
}
.contend .contend__container form #email {
    transition: transform 3s;
    padding: 8px 10px;
}
.contend .contend__container form #digitos {
    transition: transform 5s;
    padding: 8px 10px;
}
.contend .contend__container form p {
    margin: auto;
    text-align: center;
}
.contend .contend__container form p a{
    color: #372819;
}
#button {
    display: flex;
    cursor: pointer;
    justify-content: center; 
    margin: 0 auto;
    position: relative;
    background-color: transparent; 
    color: #372819;
    font-size: 17px;
    font-weight: 600;
    border-radius: 10px;
    width: 35%;
    height: 50px;
    text-transform: uppercase;
    overflow: hidden;
    box-shadow: 0 10px 20px var(--marron-chocolate);
    transform: translateY(0px) scale(1);
    transition: transform 0.5s cubic-bezier(0.4, 0, 1, 1);
}
/*Animaciones al boton*/
#button:hover{
    box-shadow: 0 10px 20px var(--marron-beige);
    background: linear-gradient(135deg,#cebc9b,#7A664B );
    transform: translateY(-20%) scale(1.1);
    transition: transform 0.3s cubic-bezier(0.4, 0, 1, 1);
}
/*-------------------------------------------------------------------------------------------*/

/*----------------------------------------Medias-queries-(Responsive)-----------------------------------------------------*/
/*Para telefonos moviles (portatil)*/
@media screen and (min-width:360px) and (max-width:412px) {
    .contend {
        background-image: url(../img/fondo__responsive.jpg);
        display: flex;
    }
    .contend .contend__container .contenedor-titulo {
        padding-top: 15px;
    }
    .contend .contend__container h1 {
        font-size: 20px;
        margin: 0;
        /*Animacion*/
        overflow: hidden; /* Para ocultar el texto completo */
        border-right:transparent; /* Efecto del cursor de la máquina de escribir */
        white-space: nowrap; /* Evitar el salto de línea */
        margin: 0 auto; 
        letter-spacing: 1px; /* Espaciado entre letras */
        animation: monoescrito 4s steps(18) infinite; /* 5s de duración total, 18 pasos para 18 letras */
    }
    @keyframes monoescrito {
        from {
            width: 0;
        }
        to {
            width: calc(1em * 10); /* Ancho total del texto (40 letras) */
        }
    }

    .contend .contend__container h1 span {
        font-size: 30px;
        bottom: 10px;
    }
    .contend .contend__container form {
        padding: 10px 0;
    }
    .contend .contend__container form label {
        font-size: 20px;
    }

    .contend .contend__container form:hover input {
        transform: none;
    }
    .contend .contend__container form #individuo, .contend .contend__container form #email, .contend .contend__container form #digitos{
        transition: none;
        margin: 0 auto;
        width: 100%;
        padding: 4px 10px;
    }
    .contend .contend__container form #individuo:active, .contend .contend__container form #email:active, .contend .contend__container form #digitos:active {
        background-color: var(--cafe-palido);
        border: solid 1px var(--marron-beige);
    }
    .contend .contend__container form p {
        font-size: small;
        margin-top: 14px;
    }
    #button {
        width: 50%;
        height: 42px;
        box-shadow: 0 10px 20px var(--marron-beige);
        background: linear-gradient(135deg,#cebc9b,#7A664B );
        margin-bottom: 20px;
    }
    #button:hover {
        transform: none;
        transition: none;
    }
    #button:active{
        color: var(--cafe-palido);
        background: var(--marron-cafe);
        box-shadow: 0 10px 20px var(--cafe-palido);
    }
}
@media screen and (min-width:413px) and (max-width:768px) {
    .contend {
        background-image: url(../img/fondo__responsive.jpg);
        display: flex;
    }
    .contend .contend__container{
        width: 75%;
    }
    .contend .contend__container form {
        width: 85%;
        padding: 16px 0 28px;
    }
    .contend .contend__container .contenedor-titulo {
        padding-top: 15px;
    }
    .contend .contend__container h1 {
        font-size: 30px;
        margin: 0;
        /*Animacion*/
        overflow: hidden; /* Para ocultar el texto completo */
        border-right:transparent; /* Efecto del cursor de la máquina de escribir */
        white-space: nowrap; /* Evitar el salto de línea */
        margin: 0 auto; 
        letter-spacing: 1px; /* Espaciado entre letras */
        animation: monoescrito 4s steps(18) infinite; /* 5s de duración total, 18 pasos para 18 letras */
    }
    @keyframes monoescrito {
        from {
            width: 0;
        }
        to {
            width: calc(1em * 10); /* Ancho total del texto (40 letras) */
        }
    }
    .contend .contend__container h1 span {
        font-size: 30px;
        bottom: 10px;
    }
    .contend .contend__container form label {
        font-size: 20px;
        animation: desplazamiento 3s linear;
}

    @keyframes desplazamiento {
        0% {
            transform: translateX(-40%); /* Comienza desde la izquierda (fuera de la vista(insivible)) */
            opacity: 0;
        }
        100% {
            transform: translateX(0%); /* Termina en la posición original (en pantalla) */
            opacity: 1;
        }

    }
    .contend .contend__container form #individuo, .contend .contend__container form #email, .contend .contend__container form #digitos{
        transition: none;
        margin: 0 auto;
        width: 100%;
        padding: 4px 10px;
    }
    .contend .contend__container form #individuo:active, .contend .contend__container form #email:active, .contend .contend__container form #digitos:active {
        background-color: var(--cafe-palido);
        border: solid 1px var(--marron-beige);
    }
    .contend .contend__container form p {
        font-size: small;
        margin-top: 14px;
    }
    #button {
        width: 50%;
        height: 42px;
        box-shadow: 0 10px 20px var(--marron-beige);
        background: linear-gradient(135deg,#cebc9b,#7A664B );
        margin-bottom: 20px;
    }
    #button:hover {
        transform: none;
        transition: none;
    }
    #button:active{
        color: var(--cafe-palido);
        background: var(--marron-cafe);
        box-shadow: 0 10px 20px var(--cafe-palido);
    }
}
/*Para tabletas (en modo vertical)*/
@media screen and (min-width:768px) and (max-width: 991px){
    .contend {
        background-image: url(../img/fondo__responsive.jpg);
        display: flex;
    }

    /*Animacion para el titulo*/
    .contend .contend__container h1 {
        overflow: hidden; /* Para ocultar el texto completo */
        border-right:transparent; /* Efecto del cursor de la máquina de escribir */
        white-space: nowrap; /* Evitar el salto de línea */
        margin: 0 auto; 
        letter-spacing: 1px; /* Espaciado entre letras */
        animation: monoescrito 4s steps(18) infinite; /* 5s de duración total, 18 pasos para 18 letras */
    }
    @keyframes monoescrito {
        from {
            width: 0;
        }
        to {
            width: calc(1em * 10); /* Ancho total del texto (40 letras) */
        }
    }
    /**/


    .contend .contend__container form input {
        transition: none;
    }
    .contend .contend__container form #individuo, .contend .contend__container form #email, .contend .contend__container form #digitos{
        padding: 10px 20px;
        width: 100%;
        margin: 5px 0;
        height: 50px;
    }
    .contend .contend__container form #individuo:active, .contend .contend__container form #email:active, .contend .contend__container form #digitos:active {
        background-color: var(--cafe-palido);
        border: solid 1px var(--marron-beige);
    }
    .contend .contend__container form:hover input {
        transform: none;
    }
    .contend .contend__container form p{
        margin-top: 16px;
    }
    #button{
        box-shadow: 0 10px 20px var(--marron-beige);
        background: linear-gradient(135deg,#cebc9b,#7A664B );
    }
    #button:hover {
        transform: none;
        transition: none;
    }
    #button:active{
        color: var(--cafe-palido);
        background: var(--marron-cafe);
        box-shadow: 0 10px 20px var(--cafe-palido);
    }
}
/*Para tabletas (en modo horizontal)*/
@media screen and (min-width: 992px) and (max-width: 1199px){
    body {
        overflow: hidden;
    }
    .contend {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .contend  .contend__container {
        width: 35%;
        margin: 0 80px;
        padding-bottom: 20px;
        height: auto;
        overflow: hidden;
    }
    
    .contend .contend__container #separador {
        position: relative;
        bottom: 20px;
    }
    .contend .contend__container form {
        padding: 0;
    }
    .contend .contend__container form label{
        font-size: 22px;
    }
    .contend .contend__container form input {
        padding: 8px;
    }
}
/*Para computadoras portatiles (por ejemplo un Surface Pron 7)*/
@media screen and (min-width: 1200px) {
    .contend .contend_container {
        width: 80%;
    }
}